<h1><%=t :Top_Games_Website_Lists %></h1>
<p><%= flash[:notice] %></p>

<table>
  <thead>
    <tr>
      <th>Website Name</th>
      <th>Website Address</th>
      <th>Ratings</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.Website_Name %></td>
        <td><%= user.Website_Address %></td>
        <td><%= user.rating %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Uh,oh! Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_user_path %>
