<h1>Top Games Website Lists</h1>

<table>
  <thead>
    <tr>
      <th>Website name</th>
      <th>Website address</th>
      <th>Ratings</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.Website_Name %></td>
        <td><%= user.Website_Address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Uh,oh! Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_user_path %>
