<p id="notice"><%= notice %></p>

<p>
  <strong>Website name:</strong>
  <%= @user.Website_Name %>
</p>

<p>
  <strong>Website address:</strong>
  <%= @user.Website_Address %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @user.ratings %>
</p>

<%= link_to 'Edit Website', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
